node {
    text-alignment: under;
}

node.marker {
    shape: box;
    fill-mode: image-scaled;
    size: 20px, 20px;
    fill-image: url('file:marker.png');
}

node.spaceNode {
    shape: circle;
    fill-color: green;
}

node.wall {
    shape: box;
    fill-color: blue;
}

node.gate {
    shape: box;
    fill-mode: image-scaled;
    size: 10px, 20px;
    fill-image: url('file:gate.png');
}
