node {
    text-alignment: under;
}

node.marker {
    shape: box;
    fill-mode: image-scaled;
    size: 20px, 20px;
    fill-image: url('file:marker.png');
}

node.space {
    shape: circle;
    fill-color: green;
}

node.wall {
    shape: box;
    fill-color: blue;
}

node.gateNode {
    shape: box;
    fill-color: brown;
}
